.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.Blog{
    height: 100%;
    width: 100%;
    background-size: cover;
    position:fixed;
}